################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/src/.vs
/src/Hanori.Maui.Memo/bin/Debug
/src/Hanori.Maui.Memo/obj
